<div class="flex flex-col items-center justify-center mt-20 mb-16">
  <h1 class="text-4xl font-bold block">Hatsune Miku</h1>
  <p class="text-2xl text-zinc-400 text-center "><em> She is a singing voice synthesizer featured in over 100000 songs released worldwide. 
  </br>Hatsune Miku means The first Sound from the Future. </em></p> </br>

  <!-- inpute a image in the center from https://store.steampowered.com/app/707300/Hatsune_Miku_VR/ -->
  <img src="https://media.tenor.com/AIHWOa8aHFAAAAAi/miku-hatsune.gif" alt="Hatsune Miku" style="margin-left: -100px;" />

  <audio autoplay onloadedmetadata="this.volume=0.2">"
    <source src="./songs/Hatsune Miku _Ten Thousand Stars_.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

</div>